// @import '~/assets/css/fonts.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	-webkit-tap-highlight-color: transparent;

	a {
		text-decoration: none;
		color: $dark;
	}

	&::selection {
		color: $white;
		background: $dark;
	}
}

html,
body {
	font-family: 'Poppins', sans-serif;
	background-color: $white;
	color: $dark;
	font-size: 15px;
}

img {
	outline: none;
	border: none;

	&[lazy=loading] {
		opacity: 0;
	}

	&[lazy=error] {
		opacity: 0;
	}

	&[lazy=loaded] {
		opacity: 1;
		transition: all 2s cubic-bezier(0.215, 0.61, 0.355, 1);
	}
}

// page transition
.page-enter-active,
.page-leave-active {
	transition: all .25s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.page-enter-from,
.page-leave-to {
	opacity: 0
}

p {
	font-size: 1rem;
	margin: 0;
	padding: 0;
}

@media (min-width: 1000px) {
	.container {
		max-width:  1300px;
	}
}
@media (max-width: 1000px) {
	.container {
		max-width:  90%;
	}
}